# DAT210x - Programming with Python for DS

## Module2 - Lab5

Import and alias Pandas:

In [2]:
# .. your code here ..
import pandas as pd
import os

As per usual, load up the specified dataset, setting appropriate header labels.

In [59]:
# .. your code here ..
os.getcwd()
df = pd.read_csv('census.data')
df.columns=[0,'education','age','capital_gain','race','capital_loss','hours_per_week','sex','classification']
df1 = df.drop(0,axis = 1)
#df1 = pd.DataFrame([df],columns = ["education","age","capital-gain","race","capital-loss","hours-per-week","sex","classification"])
#df.rename(columns={0:'education',1:'age',2:'capital-gain',3:'race',4:'capital-loss',5:'hours-per-week',6:'sex',7:'classification'},inplace = True)
print(df1.head())
df1 = pd.DataFrame(df)
df1.hours_per_week.unique()

   education  age capital_gain   race  capital_loss  hours_per_week     sex  \
0  Bachelors   50            ?  White             0              13    Male
1    HS-grad   38            ?  White             0              40    Male
2       11th   53            ?  Black             0              40    Male
3  Bachelors   28            0  Black             0              40  Female
4    Masters   37            0  White             0              40  Female

  classification
0          <=50K
1          <=50K
2          <=50K
3          <=50K
4          <=50K

array([13, 40, 16, 45, 50, 80, 30, 35, 60, 20, 44, 15, 25, 38, 43, 55, 48,
       58, 32, 70,  2, 22, 56, 41, 28, 24, 46, 12, 65, 42,  1, 36, 10, 34,
       75, 98, 54,  8,  6, 19, 18, 72,  5,  9, 47, 37, 21, 64, 26, 14,  4,
       59, 33,  7, 52, 99, 53, 39, 62, 57, 78, 90, 66, 11, 49, 84, 17, 68,
       27,  3, 85, 31, 51, 77, 63, 23, 87, 88, 73, 89, 97, 94, 29, 96, 67,
       82, 86, 91, 81, 76, 92, 61, 74, 95], dtype=int64)

Excellent.

Now, use basic pandas commands to look through the dataset. Get a feel for it before proceeding!

Do the data-types of each column reflect the values you see when you look through the data using a text editor / spread sheet program? If you see `object` where you expect to see `int32` or `float64`, that is a good indicator that there might be a string or missing value or erroneous value in the column.

In [45]:
# .. your code here ..
df1.dtypes

education         object
age                int64
capital_gain      object
race              object
capital_loss       int64
hours_per_week     int64
sex               object
classification    object
dtype: object

Try use `your_data_frame['your_column'].unique()` or equally, `your_data_frame.your_column.unique()` to see the unique values of each column and identify the rogue values.

If you find any value that should be properly encoded to NaNs, you can convert them either using the `na_values` parameter when loading the dataframe. Or alternatively, use one of the other methods discussed in the reading.

In [51]:
# .. your code here ..
df2 = df1.dropna(axis=0,thresh=4)
print(df1.education.unique())
print(df1.age.unique())
print(df1.capital_gain.unique())
print(df1.race.unique())
print(df1.capital_loss.unique())
print(df1.hours_per_week.unique())
print(df1.sex.unique())
print(df1.classification.unique())
print(df2.head())
print(len(df1))
print(len(df2))

['Bachelors' 'HS-grad' '11th' 'Masters' '9th' 'Some-college' '7th-8th'
 'Doctorate' '5th-6th' '10th' '1st-4th' 'Preschool' '12th']
[50 38 53 28 37 49 52 31 42 30 23 34 25 32 43 40 54 35 59 56 19 39 20 45 22
 48 21 24 57 44 18 47 46 41 29 36 79 27 67 33 76 17 55 61 70 64 71 68 51 58
 26 60 90 66 65 77 62 63 80 72 74 69 73 81 78 75 82 83 84 85 88 86 87]
['?' '0' '14084' '5178' '5013' '2407' '14344' '15024' '7688' '34095' '4064'
 '4386' '7298' '1409' '3674' '1055' '3464' '2050' '2176' '2174' '594'
 '6849' '4101' '1111' '3411' '2597' '25236' '4650' '9386' '2463' '3103'
 '10605' '2964' '3325' '2580' '3471' '4865' '6514' '1471' '2329' '99999'
 '20051' '2105' '2885' '25124' '10520' '2202' '2961' '27828' '6767' '8614'
 '2228' '1506' '13550' '2635' '5556' '4787' '3781' '3137' '3818' '3942'
 '914' '401' '2829' '2977' '4934' '2062' '15020' '1424' '3273' '22040'
 '4416' '10566' '991' '4931' '1086' '7430' '6497' '114' '7896' '2346'
 '3432' '2907' '1151' '2414' '2290' '3418' '15831' '41310' '4508' '5455'
 '2538' '3456' '3908' '1848' '3887' '5721' '9562' '6418' '1455' '2036'
 '1831' '11678' '2936' '2993' '7443' '6360' '2354' '1797' '1173' '4687'
 '2009' '6097' '2653' '18481' '7978' '2387' '6723' '5060']
['White' 'Black' 'Asian-Pac-Islander' 'Amer-Indian-Eskimo' 'Other']
[   0 2042 1408 1573 1902 1887 1719 1762 2179 1816 1980 1977 1876 1340 2206
 1741 1485 1564 2339 2415 1721 1380 2051 2352 1672  653 2392 1504 2001 1590
 1651 1628 1848 1740 2002 1579 2258 1669 1602  419 2547 2174 2205 1138 2238
  625 2377  213 1539  880 1092 1594 3004 2231 1844  810 2559 2057 1974  974
 1825 1735 1258 2129 2603 2282  323 4356 2444 2246 2149 1617 1648 2824 2489
 3770 1755 3683 1668 1726 2267 2457  155 3900 2201 1944 2467 2163 2754 2472
 1411]
[13 40 16 45 50 80 30 35 60 20 44 15 25 38 43 55 48 58 32 70  2 22 56 41 28
 24 46 12 65 42  1 36 10 34 75 98 54  8  6 19 18 72  5  9 47 37 21 64 26 14
  4 59 33  7 52 99 53 39 62 57 78 90 66 11 49 84 17 68 27  3 85 31 51 77 63
 23 87 88 73 89 97 94 29 96 67 82 86 91 81 76 92 61 74 95]
['Male' 'Female']
['<=50K' '>50K']
   education  age capital_gain   race  capital_loss  hours_per_week     sex  \
0  Bachelors   50            ?  White             0              13    Male
1    HS-grad   38            ?  White             0              40    Male
2       11th   53            ?  Black             0              40    Male
3  Bachelors   28            0  Black             0              40  Female
4    Masters   37            0  White             0              40  Female

  classification
0          <=50K
1          <=50K
2          <=50K
3          <=50K
4          <=50K
29535
29535

Look through your data and identify any potential categorical features. Ensure you properly encode any ordinal and nominal types using the methods discussed in the chapter.

Be careful! Some features can be represented as either categorical or continuous (numerical). If you ever get confused, think to yourself what makes more sense generally---to represent such features with a continuous numeric type... or a series of categories?

In [ ]:
# .. your code here ..

Lastly, print out your dataframe!

In [52]:
# .. your code here ..
pd.DataFrame(df2)

,education,age,capital_gain,race,capital_loss,hours_per_week,sex,classification
0,Bachelors,50,?,White,0,13,Male,<=50K
1,HS-grad,38,?,White,0,40,Male,<=50K
2,11th,53,?,Black,0,40,Male,<=50K
3,Bachelors,28,0,Black,0,40,Female,<=50K
4,Masters,37,0,White,0,40,Female,<=50K
5,9th,49,0,Black,0,16,Female,<=50K
6,HS-grad,52,0,White,0,45,Male,>50K
7,Masters,31,14084,White,0,50,Female,>50K
8,Bachelors,42,5178,White,0,40,Male,>50K
9,Some-college,37,0,Black,0,80,Male,>50K
10,Bachelors,30,0,Asian-Pac-Islander,0,40,Male,>50K
11,Bachelors,23,0,White,0,30,Female,<=50K
12,7th-8th,34,0,Amer-Indian-Eskimo,0,45,Male,<=50K
13,HS-grad,25,0,White,0,35,Male,<=50K
14,HS-grad,32,0,White,0,40,Male,<=50K
15,11th,38,0,White,0,50,Male,<=50K
16,Masters,43,0,White,0,45,Female,>50K
17,Doctorate,40,0,White,0,60,Male,>50K
18,HS-grad,54,0,Black,0,20,Female,<=50K
19,9th,35,0,Black,0,40,Male,<=50K
20,11th,43,0,White,2042,40,Male,<=50K
21,HS-grad,59,0,White,0,40,Female,<=50K
22,Bachelors,56,0,White,0,40,Male,>50K
23,HS-grad,19,0,White,0,40,Male,<=50K
24,Some-college,54,0,Asian-Pac-Islander,0,60,Male,>50K
25,HS-grad,39,0,White,0,80,Male,<=50K
26,HS-grad,49,0,White,0,40,Male,<=50K
27,Some-college,20,0,Black,0,44,Male,<=50K
28,Bachelors,45,0,White,1408,40,Male,<=50K
29,Some-college,30,0,White,0,40,Male,<=50K
...,...,...,...,...,...,...,...,...
29505,HS-grad,30,0,White,0,55,Male,<=50K
29506,10th,32,0,White,0,40,Male,<=50K
29507,Some-college,22,0,White,0,40,Male,<=50K
29508,HS-grad,31,0,White,0,40,Female,<=50K
29509,HS-grad,29,0,White,0,35,Female,<=50K
29510,Bachelors,35,0,White,0,55,Female,>50K
29511,Bachelors,30,0,Asian-Pac-Islander,0,99,Female,<=50K
29512,Doctorate,34,0,White,0,60,Male,>50K
29513,Bachelors,54,0,Asian-Pac-Islander,0,50,Male,>50K
29514,Some-college,37,0,White,0,39,Female,<=50K
29515,12th,22,0,Black,0,35,Male,<=50K
29516,Bachelors,34,0,White,0,55,Female,>50K
29517,HS-grad,30,0,Black,0,46,Male,<=50K
29518,Bachelors,38,15020,Black,0,45,Female,>50K
29519,Doctorate,71,0,White,0,10,Male,>50K
29520,HS-grad,45,0,White,0,40,Female,<=50K
29521,HS-grad,41,0,Black,0,32,Female,<=50K
29522,HS-grad,72,0,White,0,25,Male,<=50K
29523,Masters,31,0,Other,0,30,Female,<=50K
29524,HS-grad,43,0,White,0,40,Male,<=50K
29525,Some-college,43,0,White,0,40,Female,<=50K
29526,Some-college,43,0,White,0,50,Male,<=50K
29527,10th,32,0,Amer-Indian-Eskimo,0,40,Male,<=50K
29528,Masters,32,0,Asian-Pac-Islander,0,11,Male,<=50K
29529,Masters,53,0,White,0,40,Male,>50K
29530,Some-college,22,0,White,0,40,Male,<=50K
29531,HS-grad,40,0,White,0,40,Male,>50K
29532,HS-grad,58,0,White,0,40,Female,<=50K
29533,HS-grad,22,0,White,0,20,Male,<=50K
29534,HS-grad,52,15024,White,0,40,Female,>50K

In [62]:
df2.capital_gain[df2.capital_gain == '?'] = 0

C:\Users\slmsh\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [64]:
df2.capital_gain = pd.to_numeric(df2.capital_gain,errors='coerce')
print(df2.capital_gain)

0            0
1            0
2            0
3            0
4            0
5            0
6            0
7        14084
8         5178
9            0
10           0
11           0
12           0
13           0
14           0
15           0
16           0
17           0
18           0
19           0
20           0
21           0
22           0
23           0
24           0
25           0
26           0
27           0
28           0
29           0
         ...
29505        0
29506        0
29507        0
29508        0
29509        0
29510        0
29511        0
29512        0
29513        0
29514        0
29515        0
29516        0
29517        0
29518    15020
29519        0
29520        0
29521        0
29522        0
29523        0
29524        0
29525        0
29526        0
29527        0
29528        0
29529        0
29530        0
29531        0
29532        0
29533        0
29534    15024
Name: capital_gain, Length: 29535, dtype: int64